.movieList {
    margin-bottom: 30px;
}
.movieList h2 {
    margin: 0px 0px 0px 30px;
}
.movieList--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}
.movieList--list {
    transition: all ease 0.5s;
}
.movieList--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieList--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movieList--item img:hover {
    transform: scale(1);
}

.movieList--rowleft,
.movieList--rowright {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieList--rowleft {
    left: 0;
}
.movieList--rowright {
    right:0;
}
.movieList:hover .movieList--rowleft,
.movieList:hover .movieList--rowright {
    opacity: 1;
}